:root {
  --ifm-color-primary: #1f6feb;
  --ifm-color-primary-dark: #1b62d1;
  --ifm-color-primary-darker: #195cc3;
  --ifm-color-primary-darkest: #144b9f;
  --ifm-color-primary-light: #2678f0;
  --ifm-color-primary-lighter: #2d80f1;
  --ifm-color-primary-lightest: #438ef3;
}
